# Archivos de salida de compilación
*.eep
*.elf
*.hex
*.lss
*.map
*.srec
*.o
*.d
*.a
*.out

# Archivos temporales
*.tmp
*.bak
*.swp
*.swo

# Carpetas de depuración
Debug/
Release/

# Archivos de proyecto específicos de Microchip Studio (opcional)
*.cproj.*
*.depend

# Otros
makedep.mk
Makefile
